.app-logo {
  height: 2.5rem;
  transition: .5s;
}

.app-logo:hover {
  transform: scale(1.1);
  transition: .25s;
}

.nav-buttons {
  /* border: none; */
  border-radius: 50rem;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-fas {
  color: var(--light-grey);
  transition: .5s;
}

.nav-fas:hover{
  color: var(--green);
  transform: scale(1.1);
  transition: .25s;
}
