body {
  font-family: 'Roboto Light', sans-serif;
}

.card-title {
  margin-bottom: 0;
}

.user-profile-image {
  display: block;
}

.user-card-section-title {
  text-transform: uppercase;
}

.user-description-text {
  display: block;
}



.user-options-button {
  border-radius: 50rem;
  padding: .2rem;
}


/* icons */

.user-description-fas {
  color: var(--dark-grey);
}

.user-options-icon {
  color: var(--light-grey);
}

.user-options-icon:hover {
  color: var(--dark-grey);
}

.fa-heart {
  color: var(--red);
}

.fa-times {
  color: var(--dark-grey);
}
