.emojis {
  transform: scale(4) translateX(.15em);
}

/* Age (none, all custom) */

/* Communication */

.PhoneEmoji:after {
  content: '\1F4DE';
}

.EmailEmoji:after{
  content: "\1F4E9";
}

.CarrierPidgeonEmoji:after {
  content: "\1F54A";
}

/* Ethnicity */

.AsianEmoji:after {
  content: "\270B\1F3FE";
}

.BlackEmoji:after {
  content: "\270B\1F3FF";
}

.HispanicEmoji:after {
  content: "\270B\1F3FC";
}

.NativeEmoji:after {
  content: "\270B\1F3FD";
}

.OtherEmoji:after {
  content: "\270B";
}

.WhiteEmoji:after {
  content: "\270B\1F3FB";
}

/* Double-Book */

.AlwaysEmoji:after {
  content: "\1F64B";
}

.NeverEmoji:after {
  content: "\1F645";
}

.SometimesEmoji:after {
  content: "\1F937";
}

/* Gender (none, all custom) */

/* Money */

.MoneyOne:after {
  content: "\1F4B5";
}

/* Religion */

.ChristianEmoji:after {
  content: "\26EA";
}

.MuslimEmojiEmoji:after {
  content: "\1F54C";
}

.JewishEmoji:after {
  content: "\1F54D";
}

.SpiritualEmojiEmoji:after {
  content: "\1F64F";
}

/* Salon-Ownership */

.MobileEmoji:after {
  content: "\1F698";
}

.OwnEmoji:after {
  content: "\1F64B";
}

/* User-Types */

.ClientEmoji:after {
  content: "\1F487";
}

.StylistEmoji:after {
  content: "\2702";
}

/* Services */

.BraidsEmoji:after {
  content: "\1F471\200D\2640\FE0F";
}

.ChemicalPermsEmoji:after {
  content: "\1F468\200D\1F9B1";
}

.EthnicHairEmoji:after {
  content: "\1F469\200D\1F9B1";
}

.HairColorEmoji:after {
  content: "\1F469\200D\1F9B0";
}

.HairExtensionsEmoji:after {
  content: "\1F471\200D\2640\FE0F";
}

.HairLossEmoji:after {
  content: "\1F469\200D\1F9B2";
}

.KidsHaircutsEmoji:after {
  content: "\1F467";
}

.MakeupEmoji:after {
  content: "\1F484";
}

.MensHaircutsEmoji:after {
  content: "\1F468";
}

.SpecialOccasionEmoji:after {
  content: "\1F470";
}

.WomensHaircutsEmoji:after {
  content: "\1F469";
}

/*... Emoji:after {
  content: codepoint;
}*/
